---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import conversationBubble from './src/assets/vector_assets/Website Elements-12.svg';
import conversationCartoon from './src/assets/vector_assets/Website Elements-06.svg';
import cloudSeperator from './src/assets/vector_assets/Website Elements-05.svg';
import * as landingPage from '../texts/landing-page.md';
const texts = Object.values(import.meta.glob('../texts/*.md', { eager: true }));
---
<BaseLayout title="Home">
	<div class="content-section-top">
		<div class="content-bubble">
			<Image class="" src={conversationBubble} alt="Conversation Bubble." />
			<p class="position-text bold-text"><Fragment set:html={landingPage.frontmatter.bubble_text}/></p>
		</div>
		<Image class="behind cartoon-art-right" src={conversationCartoon} alt="Corporate Memphis Image Art" alt="Coversation Cartoon." />
	</div>
	<div class="content-section-middle">
		<Image class="infront content-seperator" src={cloudSeperator} alt="Corporate Memphis Image Art" alt="Cloud Svg Seperator." />
		<div class="about-me">
			<div class="infront about-me-image">
				<img class="border-radius" src="src/assets/portrait_photo.jpg" />
			</div>
			<div class="infront about-me-content">
				<h2 id="#bold-h2">{landingPage.frontmatter.title}</h2>
				<p>{landingPage.frontmatter.first_paragraph}</p>
				<p>{landingPage.frontmatter.second_paragraph}</p>
			</div>
		</div>
	</div>
</BaseLayout>
