---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import conversationBubble from '../assets/vector_assets/Website-Elements-12.svg';
import conversationCartoon from '../assets/vector_assets/Website-Elements-06.svg';
import portraitPhoto from '../assets/portrait_photo.jpg';
import * as landingPage from '../texts/landing-page.md';
import '../styles/global.css';
import '../styles/output.css';

const { bubble_text, title, first_paragraph, second_paragraph } = landingPage.frontmatter;
const texts = Object.values(import.meta.glob('../texts/*.md', { eager: true }));
---
<BaseLayout title="Home">

	<!-- Background is page separator -->
	<div class="green-bg relative z-10 w-full h-[370px] md:h-[550px] xl:h-[1200px] bg-[position:0_280px] md:bg-[position:0_390px] xl:bg-[position:0_900px] flex items-center justify-center bg-no-repeat bg-[length:100%_auto] bg-[url('../assets/vector_assets/Website-Elements-05.svg')] ">

        <!-- Wrapper to control overlap layout -->
        <div class="relative flex -translate-y-[0px] md:-translate-y-[20px] xl:-translate-y-[80px] items-center justify-center w-full">
            
            <!-- Left SVG: slightly to the right, behind -->
            <div class="relative w-[205px] md:w-[350px] xl:w-[650px] left-[20px] -translate-y-[35px] md:-translate-y-[40px] xl:-translate-y-[130px] z-0 -ml-[45px] md:-ml-[200px] xl:-ml-[440px]">
			    <Image class="w-full h-full" src={conversationBubble} alt="Conversation Bubble. Speechie, Speech, Therapist, SLT, Aphasia, Voice, Parkinsons Disease, Speak Out, articulation, remote" loading="eager" />
                <p class="absolute global-paragraph-text w-[180px] md:w-[250px] xl:w-[400px] text-black-700 text-center font-semibold text-left top-[52%] left-[34%] -translate-x-1/6 -translate-y-1/2 px-4 pointer-events-none">
                    <Fragment set:html={bubble_text} />
                </p>
			</div>

            <!-- Right SVG: slightly overlaps the left, on top -->
            <div class="relative w-[250px] md:w-[520px] xl:w-[950px] z-10 -mr-[35px] md:-mr-[200px] xl:-mr-[440px] -ml-[28px] md:-ml-[70px] xl:-ml-[180px]">
                <Image class="w-full h-auto" src={conversationCartoon} alt="Conversation Bubble. Speechie, Speech, Therapist, SLT, Aphasia, Voice, Parkinsons Disease, Speak Out, articulation, remote" loading="eager" />
            </div>

		</div>
	</div>
	
	<!-- About Me Section -->
	<div class="relative z-10 w-full mx-auto flex flex-col md:flex-row items-center justify-center px-6 pt-8">
	
		<!-- Image -->
		<div class="relative w-[160px] md:w-[300px] xl:w-[400px] -translate-y-[0px] md:-translate-y-[45px] xl:-translate-y-[70px] ">
			<Image src={portraitPhoto} alt="Portrait of a speech pathologist. Speechie, Speech, Therapist, SLT, Aphasia, Voice, Parkinsons Disease, Speak Out, articulation, remote" loading="eager" class="rounded-t-[400px] w-full h-auto" />
		</div>

		<!-- Text -->
		<div class="px-6 py-3 pb-20 w-[340px] md:w-[400px] xl:w-[900px]">
			<div class="mx-auto">
				<h2 class="py-2 xl:py-4 xl:py-6 text-lg md:text-4xl xl:text-7xl font-bold text-center">{title}</h2>
				<div class="prose prose-lg global-paragraph-text leading-relaxed">
					<p class="py-2">{first_paragraph}</p>
					<p>{second_paragraph}</p>
				</div>
			</div>
		</div>
	</div>

	
</BaseLayout>
