---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import lower_seperator from '../assets/vector_assets/Website Elements-03.svg';
import seperator from '../assets/vector_assets/Website Elements-04.svg';
import drinking_svg from '../assets/vector_assets/Website Elements-07.svg';
import speaking_svg from '../assets/vector_assets/Website Elements-11.svg';
import * as service from '../texts/service.md';
const { first_list, second_list, second_sub_list } = service.frontmatter;
---
<BaseLayout title="Service">
    <div class="content-section-top">
        <div class="svg-wrapper">
            <Image class="infront page-2-content-seperator cropped-svg" src={seperator} alt="Blob Seperator" />
        </div>
        <div class="infront page-2-content-1">
            <h2 id="bold-h2">{service.frontmatter.service_h2_question}</h2>
            <div class="short-line">
                <p><Fragment set:html={service.frontmatter.first_paragraph}/></p>
                <ul>
                    {first_list.map((item: string) => ( 
                    <li>{item}</li>
                    ))}
                </ul>
            </div>
        </div>
        <div class="infront page-2-content-2">
            <h1 id="extra-large-title">{service.frontmatter.service_h1}</h1>
            <div class="short-line page-2-text-2">
                <h2 id="bold-h2" class="top-gap">{service.frontmatter.service_h2_expertise}</h2>
                <p><Fragment set:html={service.frontmatter.second_paragraph}/></p>
                <ul>
                    {
                    second_list.map((list: string, index: number) => (
                        <li>
                            <Fragment set:html={list}/>
                            {
                            index === 0 ? 
                            second_sub_list.map((sub_list: string) => (
                                    <ul>
                                        <li>{sub_list}</li>
                                    </ul>
                            )) : ""
                            }
                        </li>
                    ))
                    }
                </ul>
            </div>
        </div>
        <Image class="infront drinking_svg" src={drinking_svg} alt="Drinking Man" />
        <Image class="infront speaking_svg" src={speaking_svg} alt="Speaking Girl" />
	</div>
    <div class="content-section-bottom">
        <div class="">
            <Image class="infront page-2-content-seperator-2" src={lower_seperator} alt="Lower Seperator" />
        </div>
        <div class="infront page-2-content-3">
            
            <h1 id="extra-large-title">Signs of Needing Support</h1>
            <div class="short-line page-2-text-2">
                <h2>Signs of Communication Impairment</h2>
            </div>
        </div>
    </div>
</BaseLayout>
