---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import drinking_svg from '../assets/vector_assets/Website-Elements-07.svg';
import speaking_svg from '../assets/vector_assets/Website-Elements-11.svg';
import beige_logo from '../assets/vector_assets/Website-Elements-10.svg';
import * as service from '../texts/service.md';
const { opening, paragraph_1, list_1} = service.frontmatter;
const { services, expertise, list_2, list_2_sublist_1} = service.frontmatter;
const { list_3, list_4, list_5, list_6 } = service.frontmatter;
---
<BaseLayout title="Service">
    <div class="">
        <div class="">

            <div class="green-bg">

                <!-- Opening question -->
                <div class="w-full pt-2 px-12">
                    <h2 class="responsive-spacer uppercase font-bold responsive-heading-xs text-left">{opening}</h2>
                    <p class="responsive-spacer-sm responsive-p-xs"><Fragment set:html={paragraph_1}/></p>
                    <ul class="responsive-p-xs">{list_1.map((item: string) => ( <li>• {item}</li> ))} </ul>
                </div>
            </div>
           
            <!-- WHAT IS SPEECH PATHOLOGY -->
            <div class="green-bg relative z-10 w-full flex items-center justify-center px-1 py-1 bg-no-repeat bg-[length:100%_auto] bg-[url('../assets/vector_assets/Website-Elements-04.svg')] responsive-bg-lg ">
                
                <!-- Content wrapper: full height, flex column -->
                <div class="w-full flex flex-col space-y-1">
                
                    <!-- Services Provided -->
                    <div class="w-full px-12 responsive-mt text-left responsive-p-xs">
                        <h1 class="responsive-heading-xl text-center"> {services} </h1>
                        <h3 class="responsive-heading-xs font-semibold lg:ml-[10%]" class="">{expertise}</h3>
                        <p class="lg:ml-[10%]"><Fragment set:html={service.frontmatter.paragraph_2}/></p>
                    </div>
                    
                    <!-- Service Information -->
                    <div class="relative flex items-center justify-center w-full responsive-pb">
                        
                        <!-- Left Text-->
                        <div class="relative responsive-p-xs -translate-y-[10%] w-1/2 z-0 -mr-2">
                            <ul> {list_2.map((list: string, index: number) => ( <li>• <Fragment set:html={list}/>{ index === 0 ? list_2_sublist_1.map((sub_list: string) => (<ul><li class="px-2">• {sub_list}</li></ul>)) : ""} </li> ))} </ul>
                        </div>

                        <!-- Right SVG -->
                        <div class="relative w-1/4 z-10">
                            <Image class="" src={drinking_svg} alt="Drinking Man" />
                            <Image class="" src={speaking_svg} alt="Speaking Girl" />
                        </div>
                        
                    </div>

                </div>
            </div>

            <!-- SERIVCE PROVIDED -->
            <div class="green-bg">                
                
                <!-- Areas of services -->
                <div class="flex flex-col md:flex-row justify-center items-stretch w-full gap-y-1 md:gap-x-2 px-4 sm:px-6 lg:px-16 py-12">

                    <!-- Left Box -->
                    <div class="relative w-full md:w-1/3 brown-bg rounded-2xl text-gray-100 p-4 sm:p-6 md:p-8">

                        <!-- Top-left logo -->
                        <Image src={beige_logo} alt="Beige Colored Logo" class="absolute top-0 left-0 w-12 md:w-24 -translate-y-2/3 -translate-x-[45%]" />
                        <h3 class="responsive-heading-xs font-semibold mb-4"> {service.frontmatter.content_3_title_1} </h3>
                        <ul class="responsive-p-xs space-y-[0.2rem]"> {list_3.map((list: string) => ( <li>• <Fragment set:html={list} /></li> ))} </ul>
                    
                    </div>

                    <!-- Right Box -->
                    <div class="relative w-full md:w-1/3 brown-bg rounded-2xl text-gray-100 p-4 sm:p-6 md:p-8">

                        <!-- Bottom-right logo -->
                        <Image src={beige_logo} alt="Beige Colored Logo" class="absolute bottom-0 right-0 w-12 md:w-24 translate-y-1/3 translate-x-1/3" />
                        <h3 class="responsive-heading-xs font-semibold mb-4"> {service.frontmatter.content_3_title_2} </h3>
                        <ul class="responsive-p-xs space-y-[0.2rem]"> {list_4.map((list: string) => ( <li>• <Fragment set:html={list} /></li> ))} </ul>

                    </div>
                </div>
            </div>

            <!-- SIGNS OF NEEDING SUPPORT -->
            <div class="biege-bg relative z-10 w-full responsive-h-top flex items-center justify-center px-6 py-12 bg-no-repeat bg-[length:100%_auto] bg-[url('../assets/vector_assets/Website-Elements-03.svg')]">
                <h1 class="responsive-heading-xl">{service.frontmatter.content_4_title_1}</h1>
            </div>
            <div class="biege-bg relative z-10 w-full responsive-h flex items-center justify-center px-6 py-12 bg-no-repeat bg-[length:100%_auto] bg-[url('../assets/vector_assets/Website-Elements-02.svg')] responsive-bg">
                
                <!-- Left Box -->
                <div class="relative w-full md:w-1/2 text-gray-0 p-4 sm:p-6 md:p-8 responsive-p-xs">

                    <!-- Top-left logo -->
                    <h2 class="responsive-heading-xs font-semibold mb-4">{service.frontmatter.content_4_title_2}</h2>
                    <p><Fragment set:html={service.frontmatter.paragraph_3}/></p>
                    <ul> {list_5.map((list: string) => ( <li><Fragment set:html={list}/></li> ))} </ul>
                
                </div>

                <!-- Right Box -->
                <div class="relative w-full md:w-1/2 text-gray-0 p-4 sm:p-6 md:p-8 responsive-p-xs">

                    <!-- Bottom-right logo -->
                    <h2 class="responsive-heading-xs font-semibold mb-4"><Fragment set:html={service.frontmatter.content_4_title_3}/></h2>
                    <p><Fragment set:html={service.frontmatter.paragraph_4}/></p>
                    <ul> {list_6.map((list: string) => ( <li><Fragment set:html={list}/></li> ))} </ul>

                </div>
            </div>
        </div>
    </div>
</BaseLayout>
