---
import { Image } from 'astro:assets';
import Header from '../components/Header.astro';
import CompanyDarkLogo from '../assets/dark-logo.svg';
import CPSPLogo from '../assets/CPSP_logo_vert.png';
import NDISLogo from '../assets/DSIS_logo.png';
import MediLogo from '../assets/Medicare_Australia_logo.png';
import AuGovLogo from '../assets/logo__aus_gov_01.png';
import * as headings from '../texts/header.md';
import '../styles/global.css';
import '../styles/output.css';

const { title = "Home" } = Astro.props;
const siteName = "NMSP";
const fullTitle = title ? `${title} | ${siteName}` : "NMSP";
const { pathologist, contact_title, contact_message, email, phone, profession } = headings.frontmatter
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{fullTitle}</title>
	</head>
	<body class="beige-bg">
		<Header />
        <main>
		    <slot />
        </main>
	</body>

	<footer class="">
		<div class="w-full mx-auto flex flex-col justify-between">

			<!-- Contact Info -->
			<div class=" brown-bg py-12 beige-text text-center flex-1">
				<h1 class="responsive-heading-l font-bold">{contact_title}</h1>
				<div class="responsive-p-xs">
					<p>{contact_message}</p>
					<p>
						<span class="font-semibold">Email:</span> {email} &emsp; &emsp;
						<span class="font-semibold">Phone:</span> {phone}
					</p>
				</div>
			</div>

			<!-- Branding & Logos -->
			<div class="py-4 flex-1 space-y-2 text-center">
				<div class="flex justify-center">
					<Image src={CompanyDarkLogo} alt="NMPathology Logo Dark Version" class="h-[10%] w-[10%]" />
				</div>
				<h1 class="responsive-heading-l font-bold">{pathologist}</h1>
				<h2 class="responsive-heading-sm">{profession}</h2>
			</div>

			<!-- Logos -->
			<div class="py-10 grid grid-cols-4 w-[80%] translate-x-[15%] text-center">
				<div class="h-12 lg:h-24"> <Image src={CPSPLogo} alt="CPSP Logo" class="h-full w-[70%] object-contain" /> </div>
				<div class="h-12 lg:h-24"> <Image src={NDISLogo} alt="NDIS Logo" class="h-full w-[70%] object-contain" /> </div>
				<div class="h-12 lg:h-24"> <Image src={MediLogo} alt="Medicare Logo" class="h-full w-[70%] object-contain" /> </div>
				<div class="h-12 lg:h-24"> <Image src={AuGovLogo} alt="AUS Government Logo" class="h-full w-[70%] object-contain" /> </div>
			</div>
		</div>
	</footer>
</html>
