---
const { title = "Home" } = Astro.props;
const siteName = "NMSP";
const fullTitle = title ? `${title} | ${siteName}` : "NMSP";

import '../styles/global.css';
import { Image } from 'astro:assets';
import Header from '../components/Header.astro';
import CompanyDarkLogo from '../assets/dark-logo.svg';
import CPSPLogo from '../assets/CPSP_logo_vert.png';
import NDISLogo from '../assets/DSIS_logo.png';
import MediLogo from '../assets/Medicare_Australia_logo.png';
import AuGovLogo from '../assets/logo__aus_gov_01.png';
import * as headings from '../texts/header.md';
import * as footer from '../texts/footer.md';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title>{fullTitle}</title>
	</head>
	<body>
		<Header />
        <main>
		    <slot />
        </main>
	</body>
    <footer>
        <div class="footer-content">
			<div class="how-to-book">
				<h1 id="bookings-h2">{footer.frontmatter.contact_title}</h1>
				<p id="contact-text">{footer.frontmatter.contact_message}</p>
				<p id="contact-text"><b>Email:</b>{footer.frontmatter.email} and <b>Phone:</b> {footer.frontmatter.phone}</p>
			</div>
            <div class="footer-logo centralize">
				<Image class="" src={CompanyDarkLogo} alt="NMPathology Logo Dark Version." />
			</div>
            <h1 class="footer-h1">{headings.frontmatter.title}</h1>
            <h2 class="footer-h2">{headings.frontmatter.profession}</h2>
			<div class="centralize">
				<Image class="footer-logos logo-CPSP" src={CPSPLogo} alt="CPSP Logo." />
				<Image class="footer-logos logo-NDIS" src={NDISLogo} alt="NDIS Logo." />
				<Image class="footer-logos logo-Medicare" src={MediLogo} alt="Medicare Logo." />
				<Image class="footer-logos logo-Au-Gov" src={AuGovLogo} alt="AUS Government Logo." />
			</div>
			
        </div>
    </footer>
</html>
