---
import { Image } from 'astro:assets';
import Header from '../components/Header.astro';
import CompanyDarkLogo from '../assets/dark-logo.svg';
import CPSPLogo from '../assets/CPSP_logo_vert.png';
import NDISLogo from '../assets/DSIS_logo.png';
import MediLogo from '../assets/Medicare_Australia_logo.png';
import AuGovLogo from '../assets/logo__aus_gov_01.png';
import * as headings from '../texts/header.md';
import '../styles/global.css';
import '../styles/output.css';

const { title = "Home" } = Astro.props;
const currentPath = Astro.url.pathname;
const siteName = "NMSP";
const fullTitle = title ? `${title} | ${siteName}` : "NMSP";
const { pathologist, make_enquiry, contact_message, email, phone, profession } = headings.frontmatter
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{fullTitle}</title>
	</head>
	<body class="beige-bg">
		<Header />
        <main>
		    <slot />
        </main>
	</body>

	<footer class="">
		<div class="global-minor-header-text w-full mx-auto flex flex-col justify-between">

			<!-- Contact Info -->
			<div class="dark-green-bg py-12 green-text text-left flex-1">

				<div id="EnquiryPageId" class="ml-[10%] md:ml-[20%] xl:ml-[30%] w-[80%] md:w-[60%] xl:w-[40%] mb-[20px] md:mb-[40px] xl:mb-[60px] beige-bg rounded-[190px] h-[50px] md:h-[80px] xl:h-[120px]">
					<a href="/contact" class="green-text texgyre-font rounded-t-lg md:rounded-t-[1rem] xl:rounded-t-[2rem] transition-colors duration-200 text-center " >
						<h1 class="relative py-2 md:py-4 xl:py-6 text-2xl md:text-4xl xl:text-6xl ">{make_enquiry}</h1>
					</a> 
				</div>
				<script>
					// Hiding 'Make Enquiry' on services page.
					const currentPath = window.location.pathname.replace(/\/+$/, '');
					if (currentPath === "/contact") {
						document.getElementById('EnquiryPageId')!.className = "hidden";
					}
				</script>

				<!-- Contact footer details -->
				<div class="flex justify-center beige-text w-full text-[0.5rem] md:text-[1rem] xl:text-[1.43rem]">

					<div class="w-[300px] md:w-[700px] xl:w-[1000px]">
						<p class="pl-[10%]">{contact_message}</p>
						<div class="pl-[10%] flex flex-col md:flex-row text-left items-stretch ">
							<div class="relative w-[100%] md:w-[55%] xl:w-[60%] ">
								<span class="font-semibold">Email:</span> 
								<a href={`mailto::${email}`}>{email}</a>
							</div>
							<div class="relative w-[100%] md:w-[50%] xl:w-[60%] pr-[12%] md:text-right md:pr-[20%] xl:pr-[20%] ">
								<span class="font-semibold">Phone:</span> 
								<a>{phone}</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Branding & Logos -->
			<div class="py-4 flex-1 space-y-2 text-center py-[30px] md:py-[60px] xl:py-[90px]">
				<div class="flex justify-center">
					<Image src={CompanyDarkLogo} alt="NMPathology Logo Dark Version" class="w-[40px] md:w-[80px] md:w-[120px]" />
				</div>
				<h1 class="global-sub-header-text font-bold py-[5px] md:py-[20px]">{pathologist}</h1>
				<h2 class="global-minor-header-text uppercase">{profession}</h2>
			</div>

			<!-- Logos -->
			<div class="py-[5vw] grid grid-cols-4 w-[80%] translate-x-[15%] text-center">
				<div class="h-12 xl:h-24"> <Image src={CPSPLogo} alt="CPSP Logo" class="h-full w-[70%] object-contain" /> </div>
				<div class="h-12 xl:h-24"> <Image src={NDISLogo} alt="NDIS Logo" class="h-full w-[70%] object-contain" /> </div>
				<div class="h-12 xl:h-24"> <Image src={MediLogo} alt="Medicare Logo" class="h-full w-[70%] object-contain" /> </div>
				<div class="h-12 xl:h-24"> <Image src={AuGovLogo} alt="AUS Government Logo" class="h-full w-[70%] object-contain" /> </div>
			</div>
		</div>
	</footer>
</html>
